@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Transparent" style="backdrop-filter: blur(12px)">
        <MudIconButton Icon="@Icons.Material.Filled.Movie" Color="Color.Inherit"
                       Href="https://github.com/Stars-sea/Draft" Target="_blank"/>
        <MudSpacer/>

        <MudGrid Class="ps-4" Spacing="8" Justify="Justify.FlexStart">
            <MudItem>
                <MudButton
                    Variant="Variant.Text"
                    Color="@(_selectedPage == 0 ? Color.Primary : Color.Transparent)"
                    OnClick="@(_ => OnTabBarNavigation(0))">
                    Home
                </MudButton>
            </MudItem>
            <MudItem>
                <MudButton
                    Variant="Variant.Text"
                    Color="@(_selectedPage == 1 ? Color.Primary : Color.Transparent)"
                    OnClick="@(_ => OnTabBarNavigation(1))">
                    Movies
                </MudButton>
            </MudItem>
            <MudItem>
                <MudButton
                    Variant="Variant.Text"
                    Color="@(_selectedPage == 2 ? Color.Primary : Color.Transparent)"
                    OnClick="@(_ => OnTabBarNavigation(2))">
                    Favorites
                </MudButton>
            </MudItem>
        </MudGrid>

        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Outlined.AccountCircle" Color="Color.Inherit"
                       OnClick="@(_ => OnTabBarNavigation(3))"/>
    </MudAppBar>

    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>

</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private int _selectedPage;

    protected override void OnInitialized() {
        base.OnInitialized();
        _selectedPage = new Uri(NavigationManager.Uri).AbsolutePath switch {
            "/movies"    => 1,
            "/favorites" => 2,
            "/login"     => 3,
            _            => 0
        };
    }

    private void OnTabBarNavigation(int index) {
        _selectedPage = index;

        NavigationManager.NavigateTo(
            index switch {
                0 => "/",
                1 => "/movies",
                2 => "/favorites",
                3 => "/login",
                _ => "/Error"
            }
        );
    }

}
